@charset "utf-8";
/* CSS Document */

/*Tooltip follows cursor pointer*/

/*.tooltipCustom span.tooltipCustomContent{
    display: none;
}

.test:hover {
    cursor:pointer;
}
*/
/*.tooltipCustom:hover span.tooltipCustomContent {
    display:block;
    font-weight: normal;
	font-size: 80%;
	font-style: normal;
    text-align: center;
    position:absolute;
    overflow:hidden;
    width: 300px;
    background-color: white;
    padding: 5px;
    border-radius:5px;
	border: 1px solid gray;
    color: black;
	line-height: 120%;
    
}
*/
a:link, a:visited, a:hover, a:active {
	text-decoration: none !important;
}
.toolText {
	border-bottom: 1px dotted black;
	font-style: italic;
	cursor: pointer;
	color:#604c3b;
}
.toolImg {
	cursor: pointer;
}
.tooltip {
	opacity: 1 !important;
}
.tooltip > .tooltip-inner {
    background-color: white; 
    color: black; 
	font-weight: normal;
	font-size: 120%;
	font-style: normal;
    text-align: center;
	padding: 5px;
    border-radius:5px;
	border: 1px solid gray;
	line-height: 120%;
	min-width: 300px;
	max-width: 350px;
	font-family: 'FontAwesome';
  }


/* add drop shadow to images*/
.img-style {
	border: 1px solid;
	box-shadow: 3px 3px 3px 0px #444444;
}